# Dependências
node_modules/
npm-debug.log*
yarn-error.log*

# Arquivos de build e dist
dist/
build/
.next/
.nuxt/
out/

# Arquivos de ambiente e chaves
.env
.env.local
.env.*.local

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo
*~

# Sistema operacional
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini   